.category {
  min-width: max-content;

  &-btn {
    display: flex;
    align-items: center;
  }

  &-collapse {
    display: none;
    margin-left: 1em;
    
    &.show {
      display: block;
    }
  }
}
